<div class="container">
    <div class="ver-pro">
        <h2 style="color: rgba(97, 105, 87, 0.664);font-size:40px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Verification Process</h2>
        <h4 style="font-size: 20px;font-family: 'Times New Roman', Times, serif;">in order to use this service.you have to complete this Verification process.</h4>
    </div>
    <div class="icon-item">
        <ul>
            <li>
                <img src="https://img.icons8.com/flat_round/64/000000/info.png"
                    style="position: relative; left: 30%; top:45px;" />
                <p style="position: relative; left:30%;top: 40px; font-weight: bold;"> Details</p>
            </li>
            <li>
                <img src="https://img.icons8.com/fluent/48/000000/documents.png"
                    style="position:relative; bottom:52px; left:65%;" />
                <p style="position: relative; left:63%; bottom: 60px; font-weight: bold;">Upload Documents</p>
            </li>
        </ul>
    </div>
    <div class="ID">
        <h5 style="font-size: xx-large;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 20px;">Verify Your Identity</h5>
        <h6 style="color: rgb(25, 107, 30);font-size:20px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Please upload any of these document to verify your Identity</h6>
    </div>
    <div class="items">
        <ul>
            <li>
                Govt. ID Card
            </li>
            <li>
                Passport
            </li>
            <li>
                Driving License
            </li>
            <li>
                <button mat-raised-button color="primary">Choose Files</button>
            </li>
            <li>
            </li>
            <li style="padding:50px;">
                * File Added
            </li>
        </ul>
        <div class="btn">
            <button mat-raised-button color="accent" style="margin: 20px;">Back</button>
            <button mat-raised-button color="warn">Continue</button>
        </div>
    </div>
</div>